# Byte-compiled files
__pycache__/
*.py[cod]
*.so
*.pyo

# Virtual environment
venv/
env/

# Logs and local settings
logs/
*.log
*.env
config.json


# Ignore SSH keys and configurations
id_rsa
id_rsa.pub
id_rsa_*
.ssh/
*.pem
*.ppk
known_hosts
config
